
<h2>Student Registration </h2>
<div class="main">
    <form>
        <div class="form-group">
            <label>Full Name <span style="color: red;">*</span></label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Mobile Number <span style="color: red;">*</span></label>
            <input type="mobile" class="form-control">
        </div>
        <div class="form-group">
            <label>Dob<span style="color: red;">*</span></label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Class <span style="color: red;">*</span></label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Enter Section <span style="color: red;">*</span></label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Address <span style="color: red;">*</span></label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-2">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>
    
</div>